.App {
  text-align: center;
}

/* Counter component style */

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-lg {
  font-size: 40px;
  font-weight: bold;
}

.btn {
  padding: 10px 30px;
  border: 0;
  border-radius: 8px;
  color: white;
  background-color: black;
  border: 1px solid black;
  width: 150px;
  margin: 10px;
  transition: all 0.3s;
}

.btn:hover {
  border: 1px solid #333;
}
